<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    

    <title>Flamingo</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../css/fontawesome-all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../imagesimages/flamingo.png" type="image/gif" sizes="16x16">
</head>

<body class="contact-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                                <a href="#">Flamingo : <br> Creating the Best. Day. Ever.</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
                            <ul>
                                    <li><a href="../index.html">HOME</a></li>
                                    <!-- <li><a href="#">SUNFEST 2018</a></li>
                                    <li><a href="#">ARTISTS</a></li>
                                    <li><a href="#">BLOG</a></li> -->
                                    <li><a href="contact.html">CONTACT</a></li>
                                </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2>Thiruvaiyaru Internettil -Gayathri Venkataraghavan</h2>

                    </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->

    <div class="container">
        <div class="main-content">
            


            <div class="get-in-touch">
                <div class="entry-header">
                    <div class="entry-title">
        
                        
                    </div><!-- entry-title -->
                </div><!-- entry-header -->

                <div class="entry-content">
                    <p style="font-size: 25px;">

                        
                        
                        
                        <br>
                        Tue 12 Jan 2021 - at 7 pm
                        <br>
                        Watch on BookMyShow
                        <br>
                        ₹ 499
                        <br>
                                <a href="https://in.bookmyshow.com/bengaluru/events/thiruvaiyaru-internettil-gayathri-venkataraghavan/ET00302570/bookingStep/tickets" class="btn" style="font-size: 30px;color: aqua">REGISTER</a>
                        
                        
                    </p>
                </div><!-- entry-content -->

                
            </div><!-- newsletter-subscribe -->
        </div><!-- main-content -->
    </div><!-- container -->

    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>Flamingo</h2>
        </div><!-- .site-footer -->

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">Flamingo</a>
                        </div><!-- entry-title -->

                        <div class="copyright-info">
                            
Year &copy;<script>document.write(new Date().getFullYear());</script> Made  with <i class="fa fa-heart" aria-hidden="true"></i>

                        </div>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- footer-content-wrapper -->
    </footer><!-- site-footer -->
    <script type='text/javascript' src='../js/jquery.js'></script>
    <script type='text/javascript' src='../js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='../js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='../js/swiper.min.js'></script>
    <script type='text/javascript' src='../js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='../js/circle-progress.min.js'></script>
    <script type='text/javascript' src='../js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='../js/custom.js'></script>
</body>
</html>
